<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Wifidog RADIUS Management</title>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/manage_login.css">
		<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/prefixfree.min.js"></script>
	</head>
	<body>
		<div id="main">
			<h2>Manage</h2>
			<form method="POST" action="/manage/login">
				<div class="form-group">
					<input type="text" class="form-control" name="username" placeholder="Username" autofocus required>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Password" required>
				</div>
				<div class="form-group">
					<button class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</body>
</html>
