<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li<%if(locals.pageDashboard){%> class="active"<%}%>><a href="/manage">Dashboard</a></li>
				<li<%if(locals.pageAccount){%> class="active"<%}%>><a href="/manage/account">Management Accounts</a></li>
				<li<%if(locals.pageSearch){%> class="active"<%}%>><a href="/manage/search">Login Records</a></li>
			</ul>
		</div>